<a href="https://colab.research.google.com/github/harithmote98/harith_INFO5731_Fall2021/blob/main/In_class_exercise_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
#method 1
counter = 0
for c in "hello World!":
  counter+=1
print(counter)

12

In [25]:
#method 2
a = "Hello World!"
len(a)

12

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
str1 = "google.com"
d1 = dict()
for c in str1:
  if c in d1:
    d1[c]=d1[c]+1
  else:
    d1[c]=1
print(d1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
mylist = [25,-25,100,-256]
total = 0

for i in range(0,len(mylist)):
  total = total+mylist[i]
print(total)

-156

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def string_replace(string):
  first_char = string[0]
  modified_string = string[1:].replace(first_char,'$')
  return first_char+modified_string
print(string_replace('restartr'))

resta$t$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
def cal_s(a,b):
  if b==0:
    print("enter number other than 0")
  else:
    return 3.14+(1+a/b)**3
a = float(input("enter a:"))
b = float(input("enter b:"))
print(cal_s(a,b))

enter a:5
enter b:.5
1334.14

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:20,4:40}
dic3 = {5:50,6:60}

dic4 = {}

for d in (dic1,dic2,dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 20, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
mytuple = (1,2,"apple","banana",3,4,"rose","jasmine")
print(2 in mytuple)
print("dog" in mytuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
myset = set([-2,4,-6,20,-60,54.4,0])
print(max(myset)) #for maximum
print(min(myset)) #for minimum

54.4
-60

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [ ]:
# write your answer here
import random
from itertools import islice
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547'
                 ,'pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091',
                 'py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

group_len = []
for i in range(5):
    group_len.append(random.randint(4,6))
random.shuffle(student_list)
# Using islice
iterate_List = iter(student_list)
group_list = [list(islice(iterate_List, elem))
          for elem in group_len]
group_len, group_list

([4, 5, 4, 5, 5],
 [['spk0057', 'bk0301', 'nm0547', 'rrk0058'],
  ['py0080', 'pn0159', 'tv0119', 'dd0420', 'sg0940'],
  ['msp0174', 'vmb0067', 'rs0850', 'mv0299'],
  ['at0739', 'ri0094', 'dy0091', 'pc0353', 'rak0120'],
  ['hn0145', 'pk0339', 'ds0761', 'hc0439', 'vl0135']])

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def dup(nums): #giving dup as function with nums as a parameter
  number_set = set() 
  not_dup = -1 #if it is not duplicate then give -1

  for i in range(len(nums)):

    if nums[i] in number_set:
      nums[i]
      return nums[i]
    else:
      number_set.add(nums[i])
      number_set

  return not_dup
  
print(dup([20,32,45,2,32,46,50]))
print(dup([1,2,3,4]))  
print(dup([1,1,2,2,3,4,2]))

32
-1
1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date #importing datetime module
import calendar 
Year = 2021 #mentioning the specified year
A = calendar.TextCalendar(calendar.SUNDAY) 
for b in range(1,13): #there are 12months so (1,13):indexing in python starts from 0
    for k in A.itermonthdays(Year,b):
        if k!=0:
            day=date(Year,b,k)
            if day.weekday()==6: #As there are 7days in a week ,index for sunday be 6,so only if it is 6 then we are setting the condition to print
                print("%s,%d-%d-%d" % (calendar.day_name[6] ,k,b,Year))

Sunday,3-1-2021
Sunday,10-1-2021
Sunday,17-1-2021
Sunday,24-1-2021
Sunday,31-1-2021
Sunday,7-2-2021
Sunday,14-2-2021
Sunday,21-2-2021
Sunday,28-2-2021
Sunday,7-3-2021
Sunday,14-3-2021
Sunday,21-3-2021
Sunday,28-3-2021
Sunday,4-4-2021
Sunday,11-4-2021
Sunday,18-4-2021
Sunday,25-4-2021
Sunday,2-5-2021
Sunday,9-5-2021
Sunday,16-5-2021
Sunday,23-5-2021
Sunday,30-5-2021
Sunday,6-6-2021
Sunday,13-6-2021
Sunday,20-6-2021
Sunday,27-6-2021
Sunday,4-7-2021
Sunday,11-7-2021
Sunday,18-7-2021
Sunday,25-7-2021
Sunday,1-8-2021
Sunday,8-8-2021
Sunday,15-8-2021
Sunday,22-8-2021
Sunday,29-8-2021
Sunday,5-9-2021
Sunday,12-9-2021
Sunday,19-9-2021
Sunday,26-9-2021
Sunday,3-10-2021
Sunday,10-10-2021
Sunday,17-10-2021
Sunday,24-10-2021
Sunday,31-10-2021
Sunday,7-11-2021
Sunday,14-11-2021
Sunday,21-11-2021
Sunday,28-11-2021
Sunday,5-12-2021
Sunday,12-12-2021
Sunday,19-12-2021
Sunday,26-12-2021