<a href="https://colab.research.google.com/github/harithmote98/harith_INFO5731_Fall2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random #importing random package to get random numbers

def Rand(start,end,num): #giving the function name as rand
  res= [] #giving start,end, num values from 1 to 100 and num is the number of elements

  for j in range(num): #in a range of num(i.e 12)
    res.append(random.randint(start,end)) #in a empty list res adding one by one random numbers

  return res

num =12
start = 1
end = 100
otp = Rand(start,end,num)
otp

[11, 96, 56, 39, 13, 77, 51, 10, 7, 41, 39, 36]

In [ ]:
#ascending order
otp.sort() #sort function is used for the ascending 
otp

[7, 10, 11, 13, 36, 39, 39, 41, 51, 56, 77, 96]

In [ ]:
#descending order
otp.sort(reverse=True)
otp

[96, 77, 56, 51, 41, 39, 39, 36, 13, 11, 10, 7]

In [ ]:
#average
avg = sum(otp)/len(otp)
avg

39.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
#1
str1 = "Alas! Am I alive? This is my first python program"
str2 = "Great!Happy that you are alive.What is the output of your first python program?"

str1
str2

'Great!Happy that you are alive.What is the output of your first python program?'

In [ ]:
#2
import re #importing regular expression module
re.findall(r"[\w']+|[.,!?;]",str1) #Find all substrings where the RE matches, and returns them as a list.

['Alas',
 '!',
 'Am',
 'I',
 'alive',
 '?',
 'This',
 'is',
 'my',
 'first',
 'python',
 'program']

In [ ]:
#3
str1_words = set(str1.split())
str2_words = set(str2.split())
common = str1_words & str2_words #&(and) helps in finding common words
common

{'first', 'is', 'python'}

In [ ]:
#4
import re
re.sub("^\w\s","",str1) #

'Alas! Am I alive? This is my first python program'

In [ ]:
#5
lowercase = str1.lower()
vowel_counts = {}

for vowel in "aeiou":
  count = lowercase.count(vowel)
  vowel_counts[vowel] = count

print(vowel_counts)

{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
pi=3.14
#giving pi value
for r in range(11): #giving a range of values from 1 to 10 for r 
  v=4/3*pi*(r**3)
  print(r,v)

0 0.0
1 4.1866666666666665
2 33.49333333333333
3 113.03999999999999
4 267.94666666666666
5 523.3333333333334
6 904.3199999999999
7 1436.0266666666666
8 2143.5733333333333
9 3052.08
10 4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [3]:
# Your code here
#1
from google.colab import files
  
  
uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [88]:

import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv'])) #importing the csv file
print(df)

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [6]:
occ = df.iloc[[20,17,14,11,8,5,2],: ]
occ

    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

In [28]:
res = occ.drop(["year","title_field"],axis=1)
res

    value
20  36711
17  35916
14  41007
11  40704
8   42108
5   43673
2   46295

In [32]:
final = res.diff()
final = final.dropna()
final

     value
17  -795.0
14  5091.0
11  -303.0
8   1404.0
5   1565.0
2   2622.0

In [34]:
final["year"] = ['2008-2009','2009-2010','2010-2011','2011-2012','2012-2013','2013-2014']
final

     value       year
17  -795.0  2008-2009
14  5091.0  2009-2010
11  -303.0  2010-2011
8   1404.0  2011-2012
5   1565.0  2012-2013
2   2622.0  2013-2014

In [40]:
#ascending
output=final.sort_values(['value'],ascending=True)
print(output)

     value       year
17  -795.0  2008-2009
11  -303.0  2010-2011
8   1404.0  2011-2012
5   1565.0  2012-2013
2   2622.0  2013-2014
14  5091.0  2009-2010

In [163]:
#2

totval=df.loc[df['title_field'] == 'Total Housing Units']
totval
total = totval.drop(["year","title_field","percent"],axis =1)
total
vacval=df.loc[df['title_field'] == 'Vacant Housing Units']
vacval
vacant = vacval.drop(["year","title_field","percent"],axis =1)
vacant
occval=df.loc[df['title_field'] == 'Occupied Housing Units']
occval
occupied = occval.drop(["year","title_field","percent"],axis =1)
occupied

KeyError: ignored

In [166]:
#per =  [vacant, occupied, total]
#per=vacant.join(total)
per = pd.merge([vacant, occupied, total],axis=1)
per.reset_index(drop=False,inplace=False)
per
#per=vacant.join(pd.DataFrame(list(filter(NaN, total.values)), columns=['value']))

TypeError: ignored

In [101]:
#3

vac=df.loc[df['title_field'] == 'Vacant Housing Units']
vac = vac.sort_values(['value'],ascending=False)
print(vac[0:1],'vacant housing units')
occ=df.loc[df['title_field'] == 'Occupied Housing Units']
occ = occ.sort_values(['value'],ascending=False)
print(occ[0:1],'occupied housing units')

    year           title_field  value
19  2008  Vacant Housing Units   4483 vacant housing units
   year             title_field  value
2  2014  Occupied Housing Units  46295 occupied housing units

In [94]:
#4
total=df.loc[df['title_field'] == 'Total Housing Units']
total

    year          title_field  value
0   2014  Total Housing Units  49109
3   2013  Total Housing Units  47888
6   2012  Total Housing Units  45121
9   2011  Total Housing Units  44917
12  2010  Total Housing Units  44642
15  2009  Total Housing Units  39499
18  2008  Total Housing Units  41194

In [97]:
from scipy import stats
scipy.stats.hmean(total.iloc[:,2],axis=0)

44398.28543969185