<a href="https://colab.research.google.com/github/harithmote98/harith_INFO5731_Fall2021/blob/main/kappascore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing required packages

In [1]:
import numpy as np
import pandas as pd

Loading the dataset

In [3]:
data = pd.read_csv("/content/PPTL.csv")
data

                         Concepts  ... Majority voting
0     Acute myocardial infarction  ...               1
1     Acute myocardial infarction  ...               0
2     Acute myocardial infarction  ...               1
3     Acute myocardial infarction  ...               0
4     Acute myocardial infarction  ...               1
...                           ...  ...             ...
3428                     Pleurisy  ...               1
3429                     Pleurisy  ...               1
3430                     Pleurisy  ...               1
3431                     Pleurisy  ...               0
3432                     Pleurisy  ...               0

[3433 rows x 9 columns]

In [4]:
data.columns

Index(['Concepts', 'Definition', 'CleanedTweet', 'Label1', 'Label2', 'Label3',
       'Label4', 'Label5', 'Majority voting'],
      dtype='object')

In [5]:
A= data['Label1']
B = data['Label2']
C = data['Label3']
D = data['Label4']
E= data['Label5']

Calculating the kappa score

In [6]:
from sklearn.metrics import cohen_kappa_score
cohen_kappa_score(A,B)
cohen_kappa_score(A,C)

0.01219208690535356